@{
    ViewBag.Title = "About Application";
}
<h2>@ViewBag.Title</h2>

<div>
    <p>This application has been made for test task from: <a href="https://www.ukad-group.com/">https://www.ukad-group.com/</a></p>
    <p>Task: <a href="https://www.ukad-group.com/ukad.task.pdf">https://www.ukad-group.com/ukad.task.pdf</a></p>
    <p>I found this task for junior .NET developer when I hadn't had enough knowledge to solve it. So, I've made it now, when vacancy isn't actual :)</p>
</div>