@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div>
    <p>My name is Kostiuk Andrii, and now I'm looking for an opportunity to become a junior .NET developer</p>
</div>

<address>
    <strong>Phone:</strong><a href="tel:+380977748144">097-774-81-44</a><br />
    <strong>Email:</strong><a href="mailto:andrei.kostiuk87@gmail.com">andrei.kostiuk87@gmail.com</a><br />
    <strong>Skype:</strong><a href="skype:andrei.kostiuk">andrei.kostiuk</a>
</address>